body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 6px solid #505050;
  border-radius: 20px;
  width: 330px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
  background-color: #000000;
}

#display {
  font-size: 30px;
  align-self: end;
  padding: 0px 20px;
}

#buttons {
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

button:active {
  transform: scale(0.9);
}
.op-btn,
.clear-btn,
.erase-btn {
  background-color: #303030;
}

img {
  pointer-events: none;
}

.op-btn:hover {
  background-color: #ff6600;
}

.clear-btn:hover {
  background-color: #ff6600;
}

.erase-btn:hover {
  background-color: #ff6600;
}

.num-btn:hover {
  background-color: #ffffff;
  color: #303030;
}

#equals {
  background-color: #ff6600;
}
#equals:hover {
  background-color: #ffffff;
  color: #ff6600;
}

#result-display {
  font-size: 50px;
  color: #ffffff;
}

button {
  font-size: 25px;
  border-radius: 50%;
  border: none;
  background-color: #151515;
  color: #ffffff;
  font-weight: bold;
  width: 65px;
  height: 65px;
  cursor: pointer;
  margin: 5px;
}
